<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.droidlabs.viking.example"
  >

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-feature
    android:glEsVersion="0x00020000"
    android:required="true"
    />

  <application
    android:name="net.droidlabs.viking.example.App"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    >

  <uses-library android:name="org.apache.http.legacy" android:required="false"/>

    <activity android:name="net.droidlabs.viking.example.MvvmMainActivity"/>
    <activity android:name="net.droidlabs.viking.example.MvvmSecondActivity"/>

    <activity android:name="net.droidlabs.viking.example.MapActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <meta-data
      android:name="com.google.android.maps.v2.API_KEY"
      android:value="AIzaSyBmU08rnyoKI8shuqiMsgbj9htQaDJzXsg"
      />

  </application>
</manifest>
